---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import type { HTMLTag, Polymorphic } from "astro/types";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	post: CollectionEntry<"post" | "project" | "manga">;
	withDesc?: boolean;
};

const { as: Tag = "div", post, withDesc = false } = Astro.props;
---

<Tag>
    <FormattedDate
        class="min-w-30 font-semibold text-gray-600 dark:text-gray-400"
        date={post.data.publishDate}
    />
    {post.data.draft && <span class="text-red-500">(Draft) </span>}
    <a class="cactus-link text-xl font-bold hover:text-primary-500 transition-colors duration-200" data-astro-prefetch href={post.collection === 'project' ? `/projects/${post.id}/` : post.collection === 'manga' ? `/mangas/${post.id}/` : `/${post.collection}/${post.id}/`}>
        {post.data.title}
    </a>
    {withDesc && <p class="line-clamp-3 italic text-gray-500 dark:text-gray-400 mt-2">{post.data.description}</p>}
</Tag>
